<!-- movie-search.component.html -->
<div class="container">
  <div class="fixed-top bg-body-secondary">
    <div class="text-center">
      <h2>Search Movies</h2>
    </div>
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6 offset-md-3">
        <div class="input-group">
          <input type="text" [(ngModel)]="searchQuery" (input)="searchMovies()" placeholder="Enter movie name"
            class="form-control">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="dropdownButton" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fas fa-filter"></i>
            </button>
            <div class="dropdown">
              <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdownButton">
                <div class="px-3 py-2">
                  <h6>Language</h6>
                  <div class="d-flex">
                    <mat-checkbox value="tamil" [(ngModel)]="languageValues.ta">Tamil</mat-checkbox>
                    <mat-checkbox value="english" [(ngModel)]="languageValues.en">English</mat-checkbox>
                    <mat-checkbox value="korean" [(ngModel)]="languageValues.ko">Korean</mat-checkbox>
                    <mat-checkbox value="telugu" [(ngModel)]="languageValues.te">Telugu</mat-checkbox>
                  </div>

                  <h6>Region</h6>
                  <div class="d-flex">
                    <mat-checkbox value="unitedstates" [(ngModel)]="regionValues.us">United States</mat-checkbox>
                    <mat-checkbox value="india" [(ngModel)]="regionValues.in">India</mat-checkbox>
                    <mat-checkbox value="korean" [(ngModel)]="regionValues.kr">South Korea</mat-checkbox>
                    <mat-checkbox value="japan" [(ngModel)]="regionValues.jp">Japan</mat-checkbox>
                  </div>

                  <h6>Release Type</h6>
                  <div class="d-flex">
                    <mat-checkbox value="theatrical" [(ngModel)]="releaseType['2']">Theatrical</mat-checkbox>
                    <mat-checkbox value="premiere" [(ngModel)]="releaseType['1']">Premiere</mat-checkbox>
                  </div>

                  <h6>Category</h6>
                  <div class="d-flex">
                    <mat-checkbox value="action" [(ngModel)]="category['28']">Action</mat-checkbox>
                    <mat-checkbox value="comedy" [(ngModel)]="category['35']">Comedy</mat-checkbox>
                    <mat-checkbox value="family" [(ngModel)]="category['10751']">Family</mat-checkbox>
                    <mat-checkbox value="horror" [(ngModel)]="category['27']">Horror</mat-checkbox>
                  </div>
                </div>
                <div><button type="button" class="btn btn-primary ms-2" (click)="searchMovies()">Add</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6 offset-md-3">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-secondary" (click)="selectFilter('recent')">Recent Movies</button>
          <button type="button" class="btn btn-secondary" (click)="selectFilter('top')">Top Movies</button>
          <button type="button" class="btn btn-secondary" (click)="selectFilter('today')">Trending Today</button>
          <button type="button" class="btn btn-secondary" (click)="selectFilter('week')">Trending This Week</button>
        </div>
      </div>
    </div>
    <div class="container mt-1">
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="loadPage(1)">First</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="loadPage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item" *ngIf="currentPage > 2">
              <a class="page-link" (click)="loadPage(currentPage - 2)">{{ currentPage - 2 }}</a>
            </li>
            <li class="page-item" *ngIf="currentPage > 1">
              <a class="page-link" (click)="loadPage(currentPage - 1)">{{ currentPage - 1 }}</a>
            </li>
            <li class="page-item active">
              <a class="page-link" (click)="loadPage(currentPage)">{{ currentPage }}</a>
            </li>
            <li class="page-item" *ngIf="currentPage < totalPages">
              <a class="page-link" (click)="loadPage(currentPage + 1)">{{ currentPage + 1 }}</a>
            </li>
            <li class="page-item" *ngIf="currentPage < totalPages - 1">
              <a class="page-link" (click)="loadPage(currentPage + 2)">{{ currentPage + 2 }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="loadPage(currentPage + 1)">Next</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="loadPage(totalPages)">Last</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4" style="margin-top: 130px;">
    <div class="row mt-5 justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4" *ngFor="let movie of movies">
            <div class="card custom-card mb-3" style="width: 14rem;">
              <img [src]="getImageUrl(movie.poster_path)" alt="Movie Poster" class="card-img-top"
                style="max-height: 300px; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title fw-bold fs-5">{{ movie.title }}</h5>
                <p class="card-text">Release Date: {{ movie.release_date }}</p>
                <div class="rating">
                  <span class="star" *ngFor="let star of getStars(movie.vote_average)">&#9733;</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>